<a href="/dashboard" class="black" >&larr; Back </a>
<div class="admin-title">
    <h2>Add New Post</h2>
</div>

<form action="/add-post" method="POST">


<!-- image -->
<!-- <label for="title"><b>Title</b></label>
<input type="text" placeholder="Title" name="title"> -->


<label for="title"><b>Title</b></label>
<input type="text" placeholder="Enter Title" name="title">

<label for="price"><b>Price</b></label>
<input type="number" placeholder="Enter price" name="price">

<label for="number"><b>Number</b></label>
<input type="text" placeholder="Enter Phone Number" name="number">

<label for="upiId"><b>UPI_ID</b></label>
<input type="text" placeholder="Enter upi_id" name="upiId">

<label for="description"><b>description</b></label>
<textarea  name="description" cols="50" rows="10"></textarea>

<input type="submit" value="Add" class="search-button">


</form>