
<div class=" img ">


<br>
<br>
<form action="/register" method="POST" class="form">
    <h2>Register</h2>
  <label for="username" class="label" ><b>username</b></label>
  <input type="text" class="box" placeholder="Enter Username" name="username" />

  <label for="email"  class="label"><b>email</b></label>
  <input type="email" class="box" placeholder="Enter email" name="email" />

  <label for="password"  class="label"><b>Password</b></label>
  <input type="password" class="box" placeholder="Enter Password" name="password" />

  <input type="submit" value="Register" id="submit" />
</form>

</div>