<div class=" img ">
<div id="down">

<br>
<br>
<form action="/admin" method="POST" class="form">
    <h1>LOGIN</h1>
  <label for="email" class="label"><b>email</b></label>
  <input type="email" placeholder="Enter email" class="box"  name="email" />

  <label for="password"class="label"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" class="box" name="password" />

  <input type="submit" value="Login" id="submit" />
  <a href="/register" class="register ">Create account</a>
</div>
</form>

<!-- <a href="/register" class="box register">Create account</a> -->
</div>
<!-- <div class="img">
  <img src="/images/bit_mesra.jpeg" alt="collegeImage" >
</div> -->


</div>