
<div class="footer  footer-container">
    <div class="container footer-container">
        &copy; <%= new Date().getFullYear(); %> Raman. Built like Bullet
         
    </div>
    <div class="feedback"><a href="/feedback">feedback</a></div>
  </div>