<nav >
    <div class="main-nav container flex">
      <a href="/" class="company-logo">
        <img src="https://images.pexels.com/photos/3767673/pexels-photo-3767673.jpeg?auto=compress&cs=tinysrgb&w=600" alt="company-logo" />
      </a>
      <div class="nav-links">
        <ul class="flex">

          <li class="hover-link nav_item" >
            <a href="/">Home</a></li>
          <!-- <li class="hover-link nav_item">
            <a href="/dashboard">Dashboard</a></li> -->
          <li class="hover-link nav_item">
            <a href="/about">About us</a></li>
        </ul>
      </div>
      <div class=" flex">
      <a href="/logout" class="search-button">
        Logout

      </a>
      </div>
    </div>
  </nav>